<!-- ================Login Box Area ================= -->
<section class="login_box_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="login_form_inner">
          <h3>Add new Product</h3>
          <form class="row login_form mw-100" method="post" name="prdForm">
            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                ng-model="productName"
                name="prdName"
                required
                minlength="6"
                maxlength="32"
                placeholder="Product name"
              />
            </div>
            <div
              class="col-md-12"
              ng-if="prdForm.prdName.$touched || prdForm.prdName.$dirty"
              style="color: red; text-align: left; margin-left: 12px"
            >
              <span>{{prdForm.prdName.$error.required && 'Required'}}</span>
              <span
                >{{prdForm.prdName.$error.minlength && 'At least 6
                characters'}}</span
              >
              <span
                >{{prdForm.prdName.$error.maxlength && 'Up to 32
                characters'}}</span
              >
            </div>

            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                ng-model="productPrice"
                name="prdPrice"
                required
                placeholder="Price"
              />
            </div>
            <div
              class="col-md-12"
              ng-if="prdForm.prdPrice.$touched || prdForm.prdPrice.$dirty"
              style="color: red; text-align: left; margin-left: 12px"
            >
              <span>{{prdForm.prdPrice.$error.required && 'Required'}}</span>
            </div>

            <div class="col-md-12 form-group">
              <input
                type="text"
                class="form-control"
                ng-model="categoryName"
                name="categoryName"
                required
                placeholder="Category"
              />
            </div>
            <div
              class="col-md-12"
              ng-if="prdForm.categoryName.$touched || prdForm.categoryName.$dirty"
              style="color: red; text-align: left; margin-left: 12px"
            >
              <span
                >{{prdForm.categoryName.$error.required && 'Required'}}</span
              >
            </div>

            <div class="col-md-12 form-group text-center">
              <button
                type="button"
                class="primary-btn"
                ng-disabled="prdForm.$invalid"
                ng-click="onSubmit()"
              >
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
